# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
dist
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
workspace.json
vault/**/*.md
vault/.obsidian/plugins/*
!vault/.obsidian/plugins/journal-review

# Exclude macOS Finder (System Explorer) View States
.DS_Store
