.list {
	list-style: none;
	padding: 0;
}

.list > * {
	margin-bottom: 1em;
}

.list:empty:before {
	content: "nothing to show";
}

.list > li:not(:last-child) {
	border: none;
	border-bottom: var(--hr-thickness) solid;
	border-color: var(--hr-color);
	margin: 1.5em 0;
}

.markdown-rendered {
	font-size: 0.8em;
}
