#journal-review > h2 {
	margin-top: 0;
}

#journal-review .list {
	list-style: none;
	padding: 0;
}

#journal-review .list:empty:before {
	content: "nothing to show";
}

#journal-review .list > li:not(:last-child) {
	border: none;
	border-bottom: var(--hr-thickness) solid;
	border-color: var(--hr-color);
	margin-bottom: 1em;
	padding-bottom: 1em;
}
