.mod-settings .time-spans-container {
	padding: 0;
}

.mod-settings .time-spans-container > li {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;

	&:not(:last-child) {
		margin-block-end: 1rem;
	}

	& .setting-item {
		flex-direction: column;
		gap: 1rem;
		padding-top: 0;
		border-top: none;

		/* hide setting name */
		& .setting-item-name {
			display: none;
		}

		/* display description instead */
		& .setting-item-description {
			color: var(--text-normal);
			font-size: var(--font-ui-medium);
			padding-top: 0;
			line-height: var(--line-height-normal);
		}
	}
}
