@import "styles-settings.css";

#journal-review > h2 {
	margin-top: 0;
}

#journal-review .list {
	list-style: none;
	padding: 0;

	&:empty:before {
		content: "nothing to show";
	}

	&.notes > li {
		cursor: pointer;

		&:not(:last-child) {
			border: none;
			border-bottom: var(--hr-thickness) solid;
			border-color: var(--hr-color);
			margin-bottom: 1em;
			padding-bottom: 1em;
		}

		& h4:after {
			content: " read more...";
			display: none;
			font-size: smaller;
			font-style: italic;
			color: var(--link-color-hover);
		}

		&:hover {
			& blockquote {
				border-color: var(--link-color-hover);
			}

			& h4:after {
				display: initial;
			}
		}
	}
}
