@import "styles-settings.css";

#journal-review > h2 {
	margin-top: 0;
}

#journal-review .list {
	list-style: none;
	padding: 0;

	&:empty:before {
		content: "nothing to show";
	}

	&.notes > li {
		cursor: pointer;
		transition: transform 0.5s ease-out;

		&:hover {
			transform: translateY(-0.25rem);
			transition: transform 0.5s ease-out;
		}
	}
}
