.mod-settings .time-spans-container {
	padding: 0;
}

.mod-settings .time-spans-container > li {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;

	&:not(:last-child) {
		margin-block-end: 1rem;
	}

	& .setting-item {
		flex-direction: column;
		gap: 1rem;
		padding-top: 0;
		border-top: none;
	}
}
