.journal-review-settings {
	.time-spans-container {
		display: block;
		margin: 0;
	}

	.time-spans-container > li {
		list-style: none;
		margin: 0;

		&:not(:last-child) {
			margin-block-end: 1rem;
		}

		& .setting-item {
			& .setting-item-info {
				display: flex;
				flex-direction: row;
				align-items: baseline;
				gap: var(--size-4-4);
				margin-inline-end: var(--size-4-8);

				& .setting-item-description {
					line-height: var(--line-height-tight);
					padding-top: 0;
				}
			}
		}
	}

	.setting-item {
		h2 + & {
			border-top: none;
		}
	}
}
